<div class="form">
  <%= form_for(@question, html: { id: 'invisible-recaptcha-form' }) do |f| %>
    <% if @question.errors.any? %>
      <div class="form-errors">
        <ul>
          <% @question.errors.full_messages.each do |message| %>
            <li class="form-error-message"><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.hidden_field :user_id %>

    <div class="form-field">
      <%= f.label :text, class: 'form-label' %>
      <% if @question.user == current_user && @question.text.present? %>
        <%= f.text_area :text, disabled: true, class: 'form-textarea' %>
      <% else %>
        <%= f.text_area :text, class: 'form-textarea' %>
      <% end %>
    </div>

    <% if current_user.present? && current_user == @question.user %>
      <div class="form-field">
        <%= f.label :answer, class: 'form-label' %>
        <%= f.text_area :answer, class: 'form-textarea' %>
      </div>
    <% end %>

    <div class="form-action buffer-both">
      <% if current_user.present? %>
        <%= f.submit t('.save'), class: 'button button-dark button-small' %>
      <% else %>
        <%= invisible_recaptcha_tags callback: 'submitInvisibleRecaptchaForm', text: t('.save'), class: 'button button-dark button-small' %>
      <% end %>
      <%= t('.alt') %>
      <%= link_to t('.back'), user_path(@question.user) %>
    </div>
  <% end %>
</div>
