<div class="hashtag-question">
  <% if @questions.empty? %>
    <%= t('.empty') %>
  <% else %>
    <% @questions.each_with_index do |question, i| %>
      <%= t('.question_for') %>
      <%= link_to "@#{question.user.username}", user_path(question.user) %>
      <%= link_to t('.go_to_question'), "#{user_path(question.user)}#question_#{question.id}" %>
      <%= render partial: 'questions/question', locals: { question: question, question_counter: i } %>
    <% end %>
  <% end %>
</div>