<% questions_block_id = "question_#{question.id}" %>
<% question_number = @questions.nil? ? question_counter : @questions.size - question_counter %>
<% question_link = request.base_url + "#{user_path(question.user)}#q#{question.id}" %>

<div id="<%= questions_block_id %>" class="question">
  <div class="question-content">
    <div class="question-text text-lead">
      <%= render_with_hashtags(question.text) %>
    </div>

    <% if question.answer.present? %>
      <div class="question-answer text-lead">
        <%= render_with_hashtags(question.answer) %>
      </div>
    <% end %>

    <div class="question-additional-information">
      <div class="question-likes">
        <%= render partial: 'questions/button_and_counter_for_likes', locals: { question: question } %>
      </div>
      <div class="question-date-author-content">
        <div class="question-author">
          <% if question.author.present? %>
            <%= link_to_unless_current "@#{question.author.username}", user_path(question.author) %>
          <% else %>
            <p><%= t('.anonymous') %></p>
          <% end %>
        </div>
        <div class="question-date">
          <%= l(question.created_at, format: :short) %>
        </div>
      </div>
      <div class="question-link">
        <%= t('.question_number', count: question_number) %>
        <div class="tooltip">
          <button class="copy-question-link-to-clipboard" id="number-<%= question_number %>" data-link="<%= question_link %>">
            <%= content_tag(:span, t('.link.copy'), class: 'tooltip-text', id: "number-#{question_number}") %>
            <%= t('.link.name') %> <%= fa_icon('external-link') %>
          </button>
        </div>
      </div>
    </div>
  </div>

  <% if question.user == current_user %>
    <% edit_icon = question.answer.blank? ? 'reply' : 'pencil' %>

    <div class="question-actions">
      <%= link_to fa_icon(edit_icon), edit_question_path(question) %>
      <%= link_to fa_icon('trash-o'), question_path(question),
                  method: :delete, data: { confirm: t('.confirm_destroy') } %>
    </div>
  <% end %>
</div>
