<div class="container content-wrapper buffer-both">
  <h1 class="title-medium"><%= t('.title') %></h1>

  <div class="column-1-2">
    <div class="user-header text-center buffer-bottom" style="background-color: <%= user_bg_color(@user) %>; color: <%= user_text_color(@user) %>;">
      <h1 class="title-medium" id="user_name_sandbox">
        <%= @user.name %>
      </h1>

      <div class="user-image-div" style="border-color: <%= user_border_color(@user) %>;">
        <%= image_tag(user_avatar(@user), class: 'user-image', id: 'user_avatar_url_sandbox', alt: "@#{@user.username}") %>
      </div>

      <h2 class="title-small buffer-top" id="user_nickname_sandbox">
        @<%= @user.username %>
      </h2>

      <p class="text-small" id="user_gender_sandbox">
        <%= @user.gender %>
      </p>
    </div>

    <%= form_for(@user) do |f| %>
      <% if @user.errors.any? %>
        <div class="form-errors">
          <ul>
            <% for message in @user.errors.full_messages %>
              <li class="form-error-message"><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-field">
        <%= f.label :username, class: 'form-label' %>
        <%= f.text_field :username, class: 'form-text-field' %>
      </div>

      <div class="form-field">
        <%= f.label :name, class: 'form-label' %>
        <%= f.text_field :name, class: 'form-text-field' %>
      </div>

      <div class="form-field">
        <%= f.label :gender, class: 'form-label' %>
        <%= f.select :gender, t('.form.gender'), { include_blank: true }, class: 'form-select-field' %>
      </div>

      <div class="form-field">
        <%= f.label :avatar_url, class: 'form-label' %>
        <%= f.text_field :avatar_url, class: 'form-text-field' %>
      </div>

      <%= f.label t('.form.color_preferences'), class: 'form-label' %>
      <div class="form-field">
        <%= f.label :avatar_bg_color, class: 'form-label-color' %>
        <%= f.color_field :avatar_bg_color, value: "#{user_bg_color(@user)}", class: 'form-color-field' %>
      </div>

      <div class="form-field">
        <%= f.label :avatar_border_color, class: 'form-label-color' %>
        <%= f.color_field :avatar_border_color, value: "#{user_border_color(@user)}", class: 'form-color-field' %>
      </div>

      <div class="form-field">
        <%= f.label :profile_text_color, class: 'form-label-color' %>
        <%= f.color_field :profile_text_color, value: "#{user_text_color(@user)}", class: 'form-color-field' %>
      </div>

      <div class="form-field">
        <button id="user_reset_colors" class="button button-small button-dark">
          <%= t('.form.reset_colors') %>
        </button>
      </div>

      <div class="buffer-top-large buffer-bottom">
        <%= t('.form.password_change') %>
      </div>

      <div class="form-field">
        <%= f.label :password, t('.form.new_password'), class: 'form-label' %>
        <%= f.password_field :password, class: 'form-text-field' %>
      </div>

      <div class="form-field">
        <%= f.label :password_confirmation, t('.form.new_password_confirmation'), class: 'form-label' %>
        <%= f.password_field :password_confirmation, class: 'form-text-field' %>
      </div>

      <div class="form-action-buttons buffer-top">
        <%= f.submit t('.form.save'), class: 'button button-dark button-small' %>
        <%= link_to t('.form.destroy'), user_path(current_user), method: :delete,
                    data: { confirm: t('.form.confirm_destroy') },
                    class: 'button button-light button-small' %>
      </div>
    <% end %>
  </div>
</div>
