<div class="content-wrapper buffer-both text-center">
  <div class="buffer-both">
    <h1 class="title-medium"><%= t('.users_title') %></h1>
  </div>
  <% @users.each do |user| %>
    <div class="users-list-item">
      <div class="user-image-div user-image-div-small">
        <%= link_to image_tag(user_avatar(user), class: 'user-image'), user_path(user) %>
      </div>
      <span class="user-label-name"><%= link_to user.username, user_path(user) %></span>
    </div>
  <% end %>
</div>

<div class="content-wrapper buffer-both text-center">
  <div class="buffer-both">
    <h1 class="title-medium"><%= t('.hashtags_title') %></h1>
  </div>
  <% @hashtags.each do |hashtag| %>
    <div class="hashtags-list-item">
      <%= link_to "##{hashtag.name}", hashtag_path(hashtag), class: 'hashtag-link' %>
    </div>
  <% end %>
</div>
